

.container{
    position:relative;
    text-align: center;
    color: white;
   max-width:1500px;
   margin:auto
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:  cursive;
    font-size: 60px;
    color:  rgb(226, 226, 226);
    font-weight: bold;

}

.image-style{
    height: 600px;
}

.button-container{
    display: flex;
    align-items: center;
    width: 80%;
    text-align: center;
    height: 40px;

}

.button-container .button{
    width: 15%;
    padding: 6px 0;
    text-decoration: none;
    background: linear-gradient(125deg, #F5DCE0 0%, #E18AAA 60%);
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s;
}

.button-container .button:hover{
    padding-left: 15px;

}
