.edit{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .edit__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 35px;
    margin: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

  }
   .title{
    padding-top: 0px;
    margin: 15px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }
  .edit__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 10px
  }
  .edit__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 10px
  }
  
  .edit div {
    margin-top: 7px;
    border-radius: 10px
  }

.label{
  font-family: 'Poppins';
  color: #5d4954;
  font-weight: bold;
}