
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    /* width: 100%;
    height: auto;
    margin: 0% 0% 0% 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    position: relative; */

    min-height: 100vh;
    width: 100%;
    background-image: url(./backgr.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

.container img{
    height: 100%; 
    width: 100%; 
    display:block;
    
}


.float{
	position:fixed;
	width:240px;
	height:60px;
	bottom:100px;
    left: 50%;
    transform: translateX(-50%);
	
	border-radius:50px;
	text-align:center;
}

.my-float{
    width: 150%;
    height: 150%;
    padding: 6px 0;
    text-decoration: none;
    background: linear-gradient(125deg, #F5DCE0 0%, #E18AAA 60%);
    color: #fff;
    border-radius: 20px;
    font-weight: bold;
    
   
    transition: all 0.3s; 
    
    
    transition: all 0.3s;
    font-family: "Poppins";
    font-size: 22px;
}

.float .my-float:hover{
    padding-left: 15px;
}

