.register {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register__container {
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}
.register__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 10px
}
.register__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
  border-radius: 10px
}

.register__google {
  background-color: #4285f4;
}
.register div {
  margin-top: 7px;
  border-radius: 10px
}

.err{
  padding: 10px;
  font-size: 18px;
}
  