.services__container {
    /* display: flex; */
    padding-top: 5;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 35px;
    margin: 20px;
  
   
    padding-top: 5px;
    padding-bottom: 5px;
    
    

}

.title{
    padding-top: 0px;
    margin: 15px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.close-btn{
    margin-left: 100%;
    font-size:large ;
    padding: 0;
    border: none;
    background: none;
}

.modal__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px;
}
.modal__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 10px
  }
.modal__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 10px
}
.label{
    font-family: 'Poppins';
    color: #5d4954;
    font-weight: bold;
}





.addService__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 10px
}

